<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Pickup call</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="https://developers.google.com/static/maps/images/landing/hero_mobile_maps_sdks.png" />
  <ion-card>
    <ion-card-content>
      <p>Address: 12 tf Cairo</p>
      <p>Complement 32 Qe Masr</p>
      <p>City: Tion</p>
      <p>State: Tion</p>
      <p>Country: Egypt</p>
      <p>Zip code: 123456</p>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item lines="inset">
        <ion-label position="floating">Notes</ion-label>
        <ion-textarea></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-button size="full"color="success">Create pickup call</ion-button>
</ion-content>
